body{
    background-color:rgba(94, 97, 93, 0.9);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-image: url( https://cdn.glitch.global/0185924c-0598-4793-a1c0-cd28daad41de/pexels-jake-heinemann-2399254.jpg?v=1679532243983);
}
#conteiner{background-color:rgba(201,244,170,0.5);
    display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 700px;
height: 825px;
border-radius: 40px;
color: white;
}
form{
    display: flex;
    flex-direction: column;
    font-family: 'Alkatra', cursive;
    margin: 20px; 
    padding: 20px;
}
h1{
    font-family: 'Alkatra', cursive;
    color:#205E61;
    align-self: center;
    font-size: 40px;
}
input{
    font-family: 'Alkatra', cursive;
    padding: 5px;
}
#addTip{
    background-color: #78DEC7;
    padding: 5px;
    font-family: 'Alkatra', cursive;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
#btn{background-color: #F7DBF0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;

}
#tip{
    font-family: 'Alkatra', cursive;
    display: none;
}
#showTotalAmountToPay{
    display: flex;

}
 #billSplit, #totalTip, #totalAmount{
    font-family: 'Alkatra', cursive;
    background-color: #205E61;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
 }
 